<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UHttpCach.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCC203721C743AAF00DEDF02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCC2038B1C743AAF00DEDF02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCC203961C743AAF00DEDF02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
